<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <span>({{post.post_url|format_url}})</span>
  </div>
  <div class="meta">
    {{post.vote_count}} {% if post.vote_count != 1 %} points {% else %} point {% endif %} by {{post.user.username}} on {{post.created_at|format_date}}
    |
    <a href="/post/{{post.id}}">{{post.comments|length}} {% if post.comments|length != 1 %} comments {% else %} comment {% endif %}</a>
  </div>
</article>
